VITE_FIREBASE_API_KEY=AIzaSyBdUbewfkAubnIJvYZsI5Pyl5jlE_W03Hw
VITE_FIREBASE_AUTH_DOMAIN=spotifusion-a82a9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=spotifusion-a82a9
VITE_FIREBASE_STORAGE_BUCKET=spotifusion-a82a9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774945500379
VITE_FIREBASE_APP_ID=1:774945500379:web:3cac58ab226244145630fe
VITE_MUSIC_API_URL=https://spotifusion.onrender.com
